@import "mixins";
@import "toasts";

.scrollbar{
  @include scrollbar;
}

main{
  height: 100%;
}

div.page-content{
  display: grid;
  grid-template-rows: 4rem 1fr;
  height: 100%;
  //max-height: 100vh;
}

.Toastify{
  position: absolute;
}
